.header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    color: #fff;
    margin-top: 40px;
}

.logo
{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #0C0950;
    margin-left: 80px;
}

.logo .text1
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffff;
    font-weight: 900;
    font-size: 1.7em;
}

.logo .text2
{
    font-weight: 100;
    font-size: 1.7em;
    color: darkgray;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

.menu_items
{
    margin-right: 80px;
}

.items
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: #F5ECE0;
}


@media screen and (max-width: 700px) {
    .header
    {
        flex-direction: column;
        align-items: center;
        justify-self: center;
    }
    .logo
    {
        font-size: 1.4em;
        margin: 0;
    }
    .menu_items
    {
        margin: 15px 0px 0px 0px; 
    }
    .items
    {   
        font-size: 1.35em;
    }
}